/********** Template CSS **********/
:root {
    --primary: #F3BD00;
    --secondary: #757575;
    --light: #F3F6F8;
    
}
body{
    background: black;
    margin: 0;
    padding: 0;
}

.fadeIn2{
     margin-bottom: -200;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.display-6{
    color: #fff;
}
.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}


.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
    border-radius: 40%;
    
}


.btnn {
    font-weight: 500;
    transition: .5s;
    border-radius: 40%;
    background: #fff;
}
.btn-primary:hover{
    color: darkorange;

}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/

.navbar{
    background-color: black;
    
}
.navbar.sticky-top {
    top: -100px;
    transition: .5s;

}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px

}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    transition: zoom .8s;
    font-weight: bold;
     
    
}


.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}


@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .nav-item:hover{
        color: #F3BD00;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
       
    }
}



/*** Header **/
/* .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    z-index: 1;
} */

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: black;
    border: 10px solid black;
}


@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Facts ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}


/*** Courses ***/
.courses {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(../img/carousel-1.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.courses-item{
    background: black;

}

.courses-item .courses-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.courses-item:hover .courses-overlay {
    height: 100%;
    opacity: 1;
}


/*** Team ***/
.team-items {
    margin: -.75rem;
    justify-content: center;
}

.team-item {
    padding: .75rem;
}


.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}
.team-item:hover::after {
    height: 100%;
    background: hsl(0, 8%, 95%);
}
#hover{
    margin: -.75rem;
    justify-content: center;
    width: 45%;
    margin-bottom: 10px;
}

#hover{
    padding: .75rem;
}


#hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}

#hover:hover::after{
    height: 100%;
    background: grey;
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .75);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-social {
    height: 100%;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid var(--primary);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    background: #092139;
}

.copyright a {
    color: var(--primary);
}

.copyright a:hover {
    color: var(--light);
}







/*new form hamid*/

.text-primar{
    margin-right: -700px;

}
.display-0{
   font-size: 12px;
   margin-top: 40px;
   color: gray;  
}
.h-60{
    height: 50rem;
    
}

p{
    text-align: left;
    text-align: justify;
}



.position-relative{
    margin: .1rem;
    justify-content: center;
    
}
.position-relative{
    padding: 1rem;

}
.module_column{

    z-index: 1;
    padding: 14%;
   background:white;
  box-shadow: 10px 10px 5px black;
  
  

}
.li{
    margin: 13px 18px;
    list-style: none;

}
.module_column li{
    text-align:left;
    justify-content:center;
    align-items: left;
    font-weight: bold;
    color: black;
    font-size: 14px;


}


.imge{

   width: 35rem;
   height: 29rem;
  animation: move 5s infinite;

}
.imge:hover {
   
/*  transform: rotate(45deg);*/
     transition: all 2s;
     width: 500px;
     height: 500px;

     background-color: orange;
     border-radius: 300px;
}
/* @keyframes move {


     transition: all 2s;
     width: 150px;
     height: 150px;

} */

#images:hover{
 animation-name: zoom-in;
  animation-duration: 3s;
}

@keyframes zoom-in {
  10% {
    transform: scale(1);
  }

  20%{
     transform: scale(1.0);
   }
  100%{
    transform: scale(1.3);
  }
 
  
}

@keyframes move{ 
  0% {

    transform: translateX(0px);
  }
  50% {

    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

#footers{
    background: grey;
}
#endFooter{

    background: lightgrey;
}
#newman{
    margin-top: 100px;

}
.rem{
    width: 100rem;
    margin-top: 35px;
}

.ram{
   width: 65rem;
   margin-top: 30px;
}
.reem{
   width: 65rem;
   margin-top: 30px;
}
.rssm{
    width: 70rem;
    margin-top: 30px;
}
.room{
    width: 40rem;
    margin-top: 30px;

}

/* 
//driver licnse

//Gallery */
/* 
//contact  */

.text-start{

    font-size: 1em;
    font-weight: 500;
    letter-spacing: .11em;
    margin-bottom: 0.5em;
}
.fon{
    font-size: 20px;
    font-weight: normal;
    background-color: transparent!important;
    box-shadow: none!important;
    position: initial!important;
}

.bin{
     font-size: 20px;
    font-weight: normal;
    background-color: transparent!important;
    box-shadow: none!important;
    position: initial!important;
    fill: red;

}

i.bi{
        color: orange;
        cursor: pointer;

    }






/* //lets driv */






#boot{
    color: red;
}





















/*    cookie*/





.cookie{
    width: 420px;
    height: 72px;
    background-color: #fff;
    position: fixed;
    bottom: 88px;
    border-radius: 10px;
    left: 5%;
    padding: 10px 20px;
}

.cookie .txt{
    float: left;
    width: 65%;
}
.txt p{
    color:#1D2D35;
}

.cookie .accept {
    background-color: #40CC79;
    color: #fff !important;
    border-radius: 32px;
    padding: 3px 23px;
    /* align-self: center; */
    font-size: 19px;
    margin-top: 2.5%;   
    margin-left: 3%;

}
.cookie .accept:hover {
    background-color: #30b867;
}
















